body {
  min-block-size: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
}

form {
  font-family: "Overpass", sans-serif;
}

.cards-wrapper {
  position: relative;
  overflow: hidden;
}

.raiting-card, .sended-message {
  box-sizing: border-box;
  inline-size: min(25.625rem, 90%);
  padding: 2rem clamp(1rem, 7vw, 2rem);
  border-radius: 1.5rem;
  background-color: hsl(213, 19%, 18%);
  font-size: 0.9375rem;
}

.sended-message {
  position: absolute;
  z-index: 2;
  height: 100%;
  top: 0;
  opacity: 0;
  translate: 0 -100%;
  text-align: center;
  transition: translate 0.5s ease-in, opacity 0.6s ease-in;
}
.sended-message > img {
  width: auto;
  height: 6.875rem;
  object-fit: contain;
}
.sended-message .sended-message__raiting {
  width: fit-content;
  padding: 0.6rem 1.125rem;
  margin-block: 2rem 2.5rem;
  line-height: 1;
  margin-inline: auto;
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.1);
  border-radius: 1.5em;
}

.raiting-card__icon {
  block-size: 3rem;
  inline-size: 3rem;
  display: block;
  object-fit: none;
  border-radius: 100%;
  background-color: hsla(216, 12%, 54%, 0.1);
}
.raiting-card__title {
  margin-block: 2rem 1.25rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 700;
}
.raiting-card__paragraph {
  color: hsl(216, 12%, 54%);
  font-weight: 400;
  line-height: 1.6;
}

#raiting-star__submit {
  --bg-size-block: 0%;
  line-height: 1;
  border: 0;
  padding-block: 0.8rem;
  inline-size: 100%;
  border-radius: 1.5em;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.2ch;
  font-weight: 400;
  font-size: 1rem;
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  background-size: 100% var(--bg-size-block);
  background-position: top;
  background-repeat: no-repeat;
  transition: background-size 0.25s, color 0.25s;
}

#raiting-star__submit:hover {
  --bg-size-block: 100%;
  color: hsl(25, 97%, 53%);
}

.raiting-stars__group {
  margin-block: 1.6rem;
  margin-inline: 0;
  padding: 0;
  isolation: isolate;
  display: flex;
  justify-content: space-between;
  border: 0;
}

.raiting-star__label {
  --bg-size-block: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 3rem;
  inline-size: 3rem;
  border-radius: 100%;
  line-height: 1;
  color: hsl(216, 12%, 54%);
  background-color: hsla(216, 12%, 54%, 0.1);
  background-image: linear-gradient(hsl(217, 12%, 63%), hsl(217, 12%, 63%));
  background-size: 100% var(--bg-size-block);
  background-position: top;
  background-repeat: no-repeat;
  font-weight: 700;
  transition: background-color 0.1s, background-size 0.25s, color 0.25s;
}
.raiting-star__label:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

input[name=raitingStar__input] {
  appearance: none;
  position: absolute;
  inset-block-start: -10%;
}
input[name=raitingStar__input]:checked + .raiting-star__label {
  color: hsl(0, 0%, 100%);
  --bg-size-block: 100%;
}
