$primary-orange: hsl(25, 97%, 53%);
$neutral-100: hsl(0, 0%, 100%);
$neutral-300: hsl(217, 12%, 63%);
$neutral-400: hsl(216, 12%, 54%);
$neutral-400-semi: hsla(216, 12%, 54%, 0.1);
$neutral-800: hsl(213, 19%, 18%);
$neutral-900: hsl(216, 12%, 8%);
